/*
===========================================================
Styles
===========================================================
*/

.uk-container {
    max-width:100%;
    padding:0 20px;
}
.logo {
	height:41px;
}
.right {
	text-align:right;
}
.titulo h2 {
	float:left;
	margin-right:20px;
}
.uk-pagination {
    text-align:left;
}
.subtitle {
    text-decoration:underline;
    margin:15px 0 0 0;
}
.list_order_items {
    margin-bottom:30px !important;
}
.list_order_items tr td {
    line-height:2em;
}
.uk-table caption, .uk-table tfoot {
    font-size:unset;
    font-style:unset;
}
.blinker {
  color: #FFF;
  -webkit-animation-name: blinker;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-name: blinker;
  -moz-animation-duration: 1s;
  -moz-animation-timing-function: linear;
  -moz-animation-iteration-count: infinite;
  animation-name: blinker;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@-moz-keyframes blinker {
  0% {
    background-color:unset;
  }
  50% {
    background-color:red;
  }
  100% {
    background-color:unset;
  }
}
@-webkit-keyframes blinker {
  0% {
    background-color:unset;
  }
  50% {
    background-color:red;
  }
  100% {
    background-color:unset;
  }
}
@keyframes blinker {
  0% {
    background-color:unset;
  }
  50% {
    background-color:red;
  }
  100% {
    background-color:unset;
  }
}